<% layout("/layouts/boilerplate.ejs") %>
   
    <h3 class="mt-3 mb-3">All listings</h3>
    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listings</button>
    </form> -->
    
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <%  for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card col listing-card" >
                <img class="card-img-top" src="<%= listing.image.url %>" alt="listing_id" style="height: 20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body" style="padding-top: .5rem !important;">
                  <p class="card-text" style="line-height: 1.5rem !important;">
                    <b><%= listing.title %> <br/></b>
                    &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                  </p>
                </div>
              </div>
            </a>  
              <%  } %>
    </div>

    <!-- <ul>
        <%  for(let listing of allListings){ %>
               <li> <a href="/listings/<%= listing._id %>"><%= listing.title %></a> </li>
        <%  } %>
    </ul> -->



